@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  background-color:aqua;
  border:5px ridge brown;
  border-radius: 5%;
  cursor: pointer;
  font-family:Pangolin;
}

.header__title {
  text-indent: 20px;
  font-family:"Balsamiq Sans";
  font-style: italic;
} 

.section__iteams {
  font-style: oblique;
  text-decoration-line:underline;
  font-weight:600;
  text-align:left;
  word-break:normal;
}

.section__title {
  text-shadow: 2px 2px 5px red;
  margin: 10%;
  font-family:"Balsamiq Sans";
}

ul {list-style-type: circle}

.section__iteams {
  line-height:85%;
}
.header__nav_link {
  font-size:20px;
  margin-bottom:100px;
  font-stretch:expanded;
}

.header__button_details {
  width:200px;
}

.footer__titel {
  padding-bottom: 20px;
  font-family:"Balsamiq Sans";
}

.footer__text {
  box-shadow: 0 5px 0 #3C93D5;
 }